@font-face {
    font-family: "PF Din Text Universal";
    src: url("assets/fonts/PFDinTextUniversal.woff2") format("woff2"), url("assets/fonts/PFDinTextUniversal.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
