<section>
    <div class="row-parent">
        <div class="col-child">
            <div routerLink="visba" class="text">
                <a class="text-center m-0">الفيسبا</a>
            </div>
        </div>
        <div class="col-child">
            <div routerLink="torocycle" class="text">
                <a class="text-center m-0">التروسيكل</a>
            </div>
        </div>
        <div class="col-child">
            <div routerLink="tuktuk" class="text">
                <a class="text-center m-0">التوك توك</a>
            </div>
        </div>
        <div class="col-child">
            <div routerLink="paints" class="text">
                <a class="text-center m-0">البويات</a>
            </div>
        </div>
        <div class="col-child">
            <div routerLink="others" class="text">
                <a class="text-center m-0">الكماليات</a>
            </div>
        </div>
        <div class="col-child">
            <div routerLink="motocycle" class="text">
                <a class="text-center m-0">الموتوسيكل</a>
            </div>
        </div>
    </div>
</section>